.containerAuth
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content
{
    text-align: center;
    font-size: 19px;
    margin: 55px;
}