.containerLanding 
{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 165px;
    flex-direction: column;
}

.title 
{
    font-size: 75px;
    text-align: center;
    cursor: default;
    margin: 0;
    color: black;
}

.content 
{
    text-align: center;
    font-size: 19px;
    margin: 55px;
}

.floatingImage 
{
    position: absolute;
    transform: translateX(-50%);
    top: 2px;
    left: 50%;
    pointer-events: none;
}