.card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px; 
    height: 450px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.8s ease; 
    padding: 16px; 
}
  
.card:hover 
{
  transform: translateY(-10px); 
}
  
.cardBody 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1; 
}
  
.cardImage 
{
  width: 100%;
  max-width: 270px; 
  height: auto;
  border-radius: 5px;
  margin-top: 20px; 
  margin-bottom: 16px;
}
  
.cardTitle 
{
  font-size: 30px; 
  font-weight: bold;
  margin: 12px 0;
}
  
.cardDescription 
{
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}
  
.cardButton 
{
  color: white;
  padding: 12px 24px; 
  border: none;
  border-radius: 5px;
  margin-top: 10px; 
  margin-bottom: 20px;
}